*.pdf
*.cpp
*.o
*.stanx
*.log
auto
/stan/models/horseshoe
/stan/models/horseshoe2
/stan/models/horseshoe3
/stan/models/normal
/stan/models/normal2
/doc/Structural_Breaks-blx.bib
/doc/Structural_Breaks.run.xml
/doc/local.bib.bak
/rdata/nile_hs
/rdata/nile_normal
/rdata/nile_normal2
/stan/models/normal3
/stan/models/poisson_hp
/rdata/mcmcdb_coal
/rdata/mcmcdb_coal2
/rdata/mcmcdb_nile_hs
/rdata/mcmcdb_nile_normal
/rdata/mcmcdb_nile_normal2
/stan/models/horseshoe_poisson
/stan/models/normal4
/stan/models/normal_poisson
