*.pdf
*.cpp
*.o
*.d
*.P
*.stanx
*.log
*.bak
*.out
*.synctex.gz
*.tar.gz
*.run.xml
*.stanx
*-blx.bib
*.Rcheck
auto
/rdata/*
/doc/build/
/R/library/
/R/scripts/dependencies.inc
.Rproj.user
*_cache
*_files
