*.pdf
*.cpp
*.o
*.stanx
*.log
auto
/stan/models/horseshoe
/stan/models/horseshoe2
/stan/models/horseshoe3
/stan/models/normal
/stan/models/normal2
/doc/Structural_Breaks-blx.bib
/doc/Structural_Breaks.run.xml
/doc/local.bib.bak
