export(crosszero)
export(dhp)
export(discrepancy)
export(prgt0)
export(prgte0)
export(prlt0)
export(prlte0)
export(rbernoulli)
export(sim_struc_break)
exportClasses(McmcdbLocalLevelHp)
exportClasses(McmcdbLocalLevelNormal)
exportClasses(McmcdbLocalLevelNormalInter)
exportClasses(McmcdbLocalLevelNormalReg)
exportMethods(ssm_sim)
exportMethods(summary)
import(KFAS)
import(mcmcdb)
import(mcmcstats)
import(plyr)
