export(array_to_tvmat)
export(crosszero)
export(dhp)
export(discrepancy)
export(discrepancy_chisq)
export(discrepancy_mse)
export(dlmGet)
export(dlmModArray)
export(mcmcsummary)
export(prgt0)
export(prgte0)
export(prlt0)
export(prlte0)
export(rbernoulli)
export(rhp)
export(sim_struc_break)
export(ssm_sim)
export(tvmat_to_array)
exportClasses(BsDlmLocalLevel)
exportClasses(BsDlmMcmcdb)
exportMethods(convergence_parameters)
exportMethods(dlm_filter)
exportMethods(iter_to_dlm)
exportMethods(summary)
import(dlm)
import(mcmcdb)
import(mcmcstats)
import(mvtnorm)
import(plyr)
