export(crosszero)
export(dhp)
export(discrepancy)
export(prgt0)
export(prgte0)
export(prlt0)
export(prlte0)
export(rbernoulli)
export(sim_struc_break)
exportClasses(McmcdbHorseshoe)
exportClasses(McmcdbHorseshoe1a)
exportClasses(McmcdbHorseshoe2)
exportClasses(McmcdbHorseshoe4)
exportClasses(McmcdbNormal)
exportClasses(McmcdbNormal2)
exportMethods(summary)
import(mcmcdb)
import(mcmcstats)
