export(discrepancy)
export(prgt0)
export(prgte0)
export(prlt0)
export(prlte0)
exportClasses(McmcdbHorseshoe)
exportClasses(McmcdbNormal)
exportClasses(McmcdbNormal2)
exportMethods(summary)
import(mcmcdb)
import(mcmcstats)
