export(array_to_tvmat)
export(dlmGet)
export(dlmLogLikObs)
export(dlmModArray)
export(dlmMu)
export(dlmNu)
export(dlmOmega)
export(dlmSim)
export(dlmYrep)
export(tvmat_to_array)
import(dlm)
import(mvtnorm)
import(plyr)
