#define KALMAN_SEQ{{#tv}}_{{/tv}}{{#tv_T}}T{{/tv_T}}{{#tv_Z}}Z{{/tv_Z}}{{#tv_H}}H{{/tv_H}}{{#tv_RQR}}Q{{/tv_RQR}}{{#tv_c}}c{{/tv_c}}{{#tv_d}}d{{/tv_d}}{{#use_missing}}M{{/use_missing}}(y, T, Z, H, RQR, a1, P1, c, d{{#use_missing}}, missing{{/use_missing}}) \
{ \
  real KALMAN_SEQ_v; \
  vector[rows(T)] KALMAN_SEQ_K; \
  real KALMAN_SEQ_Finv; \
  vector[rows(T)] KALMAN_SEQ_a; \
  matrix[rows(T), rows(T)] KALMAN_SEQ_P; \
  vector[rows(T)] KALMAN_SEQ_M; \
  real KALMAN_SEQ_F; \
  KALMAN_SEQ_a <- a1; \
  KALMAN_SEQ_P <- P1; \
  for (i in 1:cols(y)) { \
    for (j in 1:rows(y)) { \
      {{#use_missing}} \
      if (! int_step(missing[i, j])) { \
      {{/use_missing}} \
        vector[m] KALMAN_SEQ_Zj; \
        KALMAN_SEQ_Zj <- Z[{{#tv_c}}i, {{/tv_c}}j] TRANSPOSE; \
        KALMAN_SEQ_v <- y[j, i] - c[{{#tv_c}}i, {{/tv_c}}j] - dot_product(KALMAN_SEQ_Zj, KALMAN_SEQ_a); \
        KALMAN_SEQ_M <- KALMAN_SEQ_P * KALMAN_SEQ_Zj; \
        KALMAN_SEQ_F <- dot_product(KALMAN_SEQ_Zj, KALMAN_SEQ_M) + H[{{#tv_H}}i, {{/tv_H}}j]; \
        KALMAN_SEQ_Finv <- 1 / KALMAN_SEQ_F; \
        KALMAN_SEQ_K <- KALMAN_SEQ_M * KALMAN_SEQ_Finv; \
        KALMAN_SEQ_a <- KALMAN_SEQ_a + KALMAN_SEQ_K * KALMAN_SEQ_v; \
        KALMAN_SEQ_P <- KALMAN_SEQ_P - KALMAN_SEQ_K * KALMAN_SEQ_M TRANSPOSE; \
        KALMAN_SEQ_P <- 0.5 * (KALMAN_SEQ_P + KALMAN_SEQ_P TRANSPOSE);  \
        lp__ <- lp__  - 0.5 * (log(2 * pi())  \
                               + log(KALMAN_SEQ_F) + KALMAN_SEQ_Finv * pow(KALMAN_SEQ_v, 2.0)); \
      {{#use_missing}} \
      } \
      {{/use_missing}} \
    } \
    KALMAN_SEQ_a <- d{{#tv_d}}[i]{{/tv_d}} + T{{#tv_T}}[i]{{/tv_T}} * KALMAN_SEQ_a; \
    KALMAN_SEQ_P <- T{{#tv_T}}[i]{{/tv_T}} * KALMAN_SEQ_P * T{{#tv_T}}[i]{{/tv_T}} TRANSPOSE + RQR{{#tv_RQR}}[i]{{/tv_RQR}}; \
    KALMAN_SEQ_P <- 0.5 * (KALMAN_SEQ_P + KALMAN_SEQ_P TRANSPOSE); \
  } \
} \
